<header>
    <!-- Navbar -->
    <nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <h1>AliTao</h1>
        </a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo"

                aria-controls="navbarTogglerDemo"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
          </ul>
          <!-- <div>
            <a class="btn btn-primary" data-toggle="modal" href="#callUsModal" href="#!">
              <i class="fas fa-sign-in-alt mr-1"></i> Login
            </a>
          </div> -->
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Promo Block -->
    <section class="js-parallax u-promo-block u-promo-block--mheight-300 u-overlay u-overlay--dark text-white" style="background-image: url(assets/img/bg-promo.jpg);">
      <!-- Promo Content -->
      <div class="container u-overlay__inner u-ver-center u-content-space">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="text-center">
              <h1 class="display-sm-4 display-lg-3">알리타오! #핫템만 #모아서 #쇼핑!</h1>
              <p class="h5 text-uppercase u-letter-spacing-sm mb-0">알리익스프레스, 타오바오의 핫템만을 엄선해서 소개합니다.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Promo Content -->
    </section>
    <!-- End Promo Block -->
  </header>
