<section class="u-content-space u-content-space-top-narrow">
  <div class="container">
    <ul class="js-shuffle-controls u-portfolio-controls text-center mb-5">
      <li class="u-portfolio-controls__item"><a href="#!" data-group="all" class="active">All</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="accessory">Accessory</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="electronic">Electronic</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="car">Car</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="homeware">Homeware</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="kids">Kids</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="men">Men</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="outdoor">Outdoor</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="pet">Pet</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="sports">Sports</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="stationery">Stationery</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="toy">Toy</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="women">women</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="etc">Etc</a></li>
    </ul>

    <!-- Work Content -->
    <div class="js-shuffle u-portfolio row no-gutters mb-6">
      <figure *ngFor="let product of products | async" class="col-sm-6 col-md-4 u-portfolio__item" [attr.data-groups]="getDataGroups(product)">
        <div class="u_portfolio__badge">
            <span class="badge badge-warning mr-1 u-portfolio__badge_source">{{product.source | titlecase}}</span>
            <span class="badge badge-primary mr-1 u-portfolio___badge_originPrice">{{product.originPrice | currency}}</span>
        </div>
        <img class="u-portfolio__image" [src]="getImageSrc(product)" [alt]="product.name">
        <figcaption class="u-portfolio__info">
          <h6 class="mb-0">{{product.name}}</h6>
          <small class="d-block">{{product.category}}</small>
        </figcaption>
        <a class="js-popup-image u-portfolio__zoom" [href]="product.link" target="new">Detail</a>
      </figure>

      <!-- sizer -->
      <figure class="col-sm-6 col-md-4 u-portfolio__item shuffle_sizer"></figure>
    </div>
    <!-- End Work Content -->

    <!-- Clints -->
    <div class="text-center">
      <ul class="list-unstyled row justify-content-center mb-2">
        <li class="col-sm-6 col-lg-2">
          <img class="u-clients__image img-fluid" src="assets/img-temp/partners/img2.png" alt="Image Description">
        </li>
        <li class="col-sm-6 col-lg-2">
          <img class="u-clients__image img-fluid" src="assets/img-temp/partners/img3.png" alt="Image Description">
        </li>
        <li class="col-sm-6 col-lg-2">
          <img class="u-clients__image img-fluid" src="assets/img-temp/partners/img4.png" alt="Image Description">
        </li>
        <li class="col-sm-6 col-lg-2">
          <img class="u-clients__image img-fluid" src="assets/img-temp/partners/img5.png" alt="Image Description">
        </li>
      </ul>
    </div>
    <!-- End Clints -->
  </div>
</section>
