<section class="u-content-space">
  <div class="container">
    <header class="text-center w-md-50 mx-auto mb-8">
      <h2 class="h1">Branding Works</h2>
      <p class="h5">We design and develope experiances that make people's lives easy and simple.</p>
    </header>

    <ul class="js-shuffle-controls u-portfolio-controls text-center mb-5">
      <li class="u-portfolio-controls__item"><a href="#!" data-group="all" class="active">All</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="its-illustration">Illustration</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="its-design">Design</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="its-graphic">Graphic</a></li>
      <li class="u-portfolio-controls__item"><a href="#!" data-group="its-logo">Logo</a></li>
    </ul>

    <!-- Work Content -->
    <div class="js-shuffle u-portfolio row no-gutters mb-6">
      <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-illustration"]'>
        <img class="u-portfolio__image" src="assets/img-temp/portfolio/img1.jpg" alt="Image Description">
        <figcaption class="u-portfolio__info">
          <h6 class="mb-0">IX Project</h6>
          <small class="d-block">Branding</small>
        </figcaption>
        <a class="js-popup-image u-portfolio__zoom" href="assets/img-temp/portfolio/img1.jpg">Zoom</a>
      </figure>

      <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-design"]'>
        <img class="u-portfolio__image" src="assets/img-temp/portfolio/img2.jpg" alt="Image Description">
        <figcaption class="u-portfolio__info">
          <h6 class="mb-0">Bottle Design</h6>
          <small class="d-block">Mockup</small>
        </figcaption>
        <a class="js-popup-image u-portfolio__zoom" href="assets/img-temp/portfolio/img2.jpg">Zoom</a>
      </figure>

      <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-graphic"]'>
        <img class="u-portfolio__image" src="assets/img-temp/portfolio/img3.jpg" alt="Image Description">
        <figcaption class="u-portfolio__info">
          <h6 class="mb-0">App Developement</h6>
          <small class="d-block">Åpp</small>
        </figcaption>
        <a class="js-popup-image u-portfolio__zoom" href="assets/img-temp/portfolio/img3.jpg">Zoom</a>
      </figure>

      <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-logo"]'>
        <img class="u-portfolio__image" src="assets/img-temp/portfolio/img4.jpg" alt="Image Description">
        <figcaption class="u-portfolio__info">
          <h6 class="mb-0">Just Bored</h6>
          <small class="d-block">Freetime</small>
        </figcaption>
        <a class="js-popup-image u-portfolio__zoom" href="assets/img-temp/portfolio/img4.jpg">Zoom</a>
      </figure>

      <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-illustration"]'>
        <img class="u-portfolio__image" src="assets/img-temp/portfolio/img5.jpg" alt="Image Description">
        <figcaption class="u-portfolio__info">
          <h6 class="mb-0">Cake Lab</h6>
          <small class="d-block">Graphic</small>
        </figcaption>
        <a class="js-popup-image u-portfolio__zoom" href="assets/img-temp/portfolio/img5.jpg">Zoom</a>
      </figure>

      <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-graphic"]'>
        <img class="u-portfolio__image" src="assets/img-temp/portfolio/img6.jpg" alt="Image Description">
        <figcaption class="u-portfolio__info">
          <h6 class="mb-0">NB Project</h6>
          <small class="d-block">Logo</small>
        </figcaption>
        <a class="js-popup-image u-portfolio__zoom" href="assets/img-temp/portfolio/img6.jpg">Zoom</a>
      </figure>

      <!-- sizer -->
      <figure class="col-sm-6 col-md-4 u-portfolio__item shuffle_sizer"></figure>
    </div>
    <!-- End Work Content -->

    <!-- Clints -->
    <div class="text-center">
      <ul class="list-unstyled row justify-content-center mb-2">
        <li class="col-sm-6 col-lg-2">
          <img class="u-clients__image img-fluid" src="assets/img-temp/partners/img2.png" alt="Image Description">
        </li>
        <li class="col-sm-6 col-lg-2">
          <img class="u-clients__image img-fluid" src="assets/img-temp/partners/img3.png" alt="Image Description">
        </li>
        <li class="col-sm-6 col-lg-2">
          <img class="u-clients__image img-fluid" src="assets/img-temp/partners/img4.png" alt="Image Description">
        </li>
        <li class="col-sm-6 col-lg-2">
          <img class="u-clients__image img-fluid" src="assets/img-temp/partners/img5.png" alt="Image Description">
        </li>
      </ul>
      <p>Got project? <a href="contacts.html">Request a free quote!</a></p>
    </div>
    <!-- End Clints -->
  </div>
</section>
